.commitment {
    padding-bottom: 168px;
    &__container {
        padding: 90px 90px;
        max-width: 1150px;
        display: flex;
        flex-direction: row-reverse;
        background-image: url("../images/Coffee-our-commitment.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 445px 520px;
    }
    &__title {
        margin-bottom: 32px;
        color: $text-color;
        font-size: 40px;
        line-height: 48px;
    }
    &__desc {
        width: 540px;
        color: $text-color;
        font-family: 'Barlow';
        line-height: 26px;
        opacity: 0.8;
    }
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    /* Load high-resolution image */
    .commitment__container {
        background-image: url("../images/Coffee-our-commitment@2x.jpg");
    }
}